<div class="head-wrap">

<header class="mainheader real">
  <div class="nav-wrap">


<a href="/" class="brand"><img src="http://www.iconsplace.com/icons/preview/000/goat-256.png" alt=""></a>
<div class="burger-icon">
  <div class="bar">

  </div>
</div>
  </div>
</header>
<header class="mainheader pseudo">
  <div class="nav-wrap">


<a href="/" class="brand"><img src="http://www.iconsplace.com/icons/preview/000/goat-256.png" alt=""></a>
  <nav class="nav">
    <ul>
      <li>Home</li>
      <li>About</li>
    </ul>
  </nav>
  </div>
</header>
</div>
<h1>Header</h1>
